
body {
    background: #fafafa;
    color: #333333;
    /* margin-top: 5rem;  */
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #2e930f;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }


  
  .createEvent {
    background-color: dodgerblue;
    border-color: rgb(64, 123, 232);
    border-radius: 10%;
    font-size: 200%;
    border-radius: 10px;
    text-align: center;
    /* padding: 50% 50%; */
    padding: 10px 15px;

    /* transition-duration: 0.4s; */
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 4000;
}

.createEvent:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}


.sendEvent {
    background-color: rgb(77, 206, 41);
    border-color: rgb(36, 109, 32);
    border-radius: 10%;
    font-size: 200%;
    border-radius: 10px;
    text-align: center;
    /* padding: 50% 50%; */
    padding: 10px 15px;

    /* transition-duration: 0.4s; */
    position: absolute;
    right: 20px;
    top: 390px;
    z-index: 4000;
}

.sendEvent:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.sendEvent:disabled {
    display: none
}


.quitEvent {
    background-color: rgb(235, 69, 69);
    border-color: rgb(110, 39, 23);
    border-radius: 10%;
    font-size: 200%;
    border-radius: 10px;
    text-align: center;
    /* padding: 50% 50%; */
    padding: 10px 15px;

    /* transition-duration: 0.4s; */
    position: absolute;
    right: 180px;
    top: 390px;
    z-index: 4000;
}

.quitEvent:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.quitEvent:disabled {
    display: none
}


#eventForm {
    position: absolute;
    z-index: 4000;
    right: 10px;
    top: 100px;
    background-color: rgb(70, 173, 227);
    border-radius: 10px;
    padding: 5px 10px;
}

#eventView {
    position: absolute;
    z-index: 4000;
    left: 20px;
    bottom: 20px;
    background-color: rgb(70, 173, 227);
    border-radius: 10px;
    padding: 5px 10px;
    width: 300;

/* letter-spacing: 4px;
line-height: 1.5;
text-shadow: 6px -2px 9px #ECCDCD; */
}


