<html>
    <body>
        <div>
            <div class="navbar bg-blue-700">
                <div class="flex-1">
                  <a class="btn btn-ghost normal-case text-xl bg-black">EcoFinder</a>
                </div>
                <div class="flex-none">
                  <ul class="menu menu-horizontal px-1 bg-black">
                    <li><a>About</a></li>
                    <li><a>Login</a></li>
                  </ul>
                </div>
              </div>
        </div> 

        <div> 
             <h1 class="font-mono bg-orange-500"> <b> EcoFinder </b> </h1>      
        </div>

        <div class="intro">            
            <p class="font-mono bg-amber-500"> EcoFinder is a Event Organizing Website against Climate Change </p>            
        </div>

         </div class="rounded-lg bg-amber-400"> 
            <button class="font-mono bg-black"> Get Started! </button>
        </div>


        </div>

    </body>

</html>