<html>

    <body>

         <div>
    
        <div class="navbar"> 
        <a class="header" EcoFinder> </a>
        <a class="header" About> </a>
        <a class="header" Login> </a>
        </div> 

        <div class="font-mono"> 

         <h1> <b> EcoFinder </b> </h1>
            
        </div>

        <div className="home1">
            <p> EcoFinder is a Event Organizing Website against Climate Change </p>
        </div>
         </div class="rounded-lg"> 

         <button> Get Started! </button>
        </div>


        </div>




    </body>

</html>