
{%block content%}
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>


    <style>
        .leaflet-container {
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <script src="{{url_for('static', filename='map.js')}}"></script>

    

    <div class="leaflet-container" id="map"></div>
    <button type="button" class="createEvent" style="position: absolute; right: 20px; top: 20px; z-index: 4000;" >
        Create Event
    </button>


    <script type="text/javascript">
        data = getvars({{data|tojson}})
     </script>
</body>
{%endblock content%}
