@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, system-ui, sans-serif;
    }
  }

.button {
    position: relative;
    background-color: dodgerblue;
    border-color: rgb(109, 150, 225);
    border-radius: 10%;

}

.main{

background-color: rgb(14 165 233);;

}

.intro{

animation: typing 3s steps(20), blink .5s 

}