{% extends "layout.html" %}

{% block content %}
  <div class="container mt-3">
    {% for value in values %}
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title" style="color: #006400">{{ value.title }}</h3>
          <p class="card-text" style="color: #228B22">{{ value.date_posted }}</p>
          <p class="card-text" style="color: #3CB371">{{ value.content }}</p>
          <p clßass="card-text" style="color: #2E8B57">By {{ value.user_id }}</p>
         
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}